.menu {
    direction: rtl;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .menu li {
    float: right;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .menu li  a:hover:not(.active) {
    background-color: #111111;
    color: white;
    font-weight:normal;
  }
  .menu li .active{
    background-color: gold;
    color:#111111 ;
    font-weight:bold;
  }